<!DOCTYPE html>
<html lang="en">
<style>
     h1 {
    font-family: Roboto;
    }
</style>
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>About us</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-secondary text-dark">
    <div class="container">
        <h1 class="display-4">About us:-</h1>
<p class="lead">At Tasty, we believe that great food brings people together. Nestled in the heart of Vizag city, our restaurant offers a delightful dinning experience where modern flavours meet timeless tradition. Whether you're craving a comforting bowl of pasta, a wood-fired pizza, or a succulent gourmet burger, we take pride in serving dishes made from the freshest ingredients, cooked to perfection by our expert chefs.</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https:cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>